.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}

.navbar {
    background: url("../images/header.png") no-repeat center 0px;
    padding-bottom: 30px;
    margin-bottom: -60px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
        font-weight: 500;
        text-transform: uppercase;
}

.sec{
    height: 600px;
}
.bor{
        position: relative;
    background: #ffffff;
    width: 80%;
    display: inline-block;
    color: #dd2a28;
    font-size: 18px;
    line-height: 32px;
    border: 2px solid #036a93;
    padding: 20px;
    text-align: left;
    max-width: 850px;
    text-align: center;
}

hr.hra {
    border-top: 1px dashed #036a93;
    border-bottom: 1px solid #dd2a28;
    color: #fff;
    background-color: transparent;
    height: 4px;
}
hr.hrb {
    border-top: 1px solid #dd2a28;
    border-bottom: 1px dashed #036a93;
    color: #fff;
    background-color: transparent;
    height: 4px;
}
