RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

errorDocument 400 http://localhost:8082/theanointedone/error
errorDocument 401 http://localhost:8082/theanointedone/error
errorDocument 404 http://localhost:8082/theanointedone/error
errorDocument 500 http://localhost:8082/theanointedone/error

php_value date.timezone "Asia/Manila"